$categories: (
 ionic: color($colors, primary),
 angular: #AC282B,
 communication: #8E8D93,
 tooling: #FE4C52,
 services: #FD8B2D,
 design: #FED035,
 workshop: #69BB7B,
 food: #3BC7C4,
 documentation: #B16BE3,
 navigation: #6600CC,
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

page-main {
	ion-slides{
		height:inherit;
	}
	.card-md{
		margin:auto;
		width:100%;
		box-shadow:none;
	}
	ion-col{
		padding:0px;
	}
	.middle{
		text-align:center;
	}
	
	.segment-ios .segment-button:first-of-type{
		border-radius:initial;
	}
	.segment-ios .segment-button:last-of-type{
		border-radius:initial;
	}
	.segment-ios .segment-button{
		border-color:#FFF;
	}
	.card-content-ios{
		font-size:1.3rem;
		padding:3px 16px 3px 16px;
	}
}