<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>分类</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="map-page">
<ion-list *ngFor="let category of categorys">
  <ion-list-header>
    {{category.name}}
  </ion-list-header>
   <ion-item >
	<ion-row *ngFor="let row of category.grid">
	  <ion-col *ngFor="let item of row;" > 
		  <ion-card  *ngIf="item" (click)="goToSessionDetail(item.id)" >
			<img src="{{item.icon}}"/>
			<div class="card-title">{{item.name}}</div>
		  </ion-card>
	  </ion-col>
	</ion-row>
  </ion-item>
 
</ion-list>
</ion-content>
