<ion-header>
  <ion-navbar>
    <ion-title>拍卖</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
	<ion-segment style="padding-top:3px" >
    <ion-segment-button value="startPrice" (click)="orderBy('startPrice')" >
      <span>价格</span> <ion-icon name="{{startPriceicon}}"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="endtime" (click)="orderBy('endtime')">
      时间<ion-icon name="{{endtimeicon}}"></ion-icon>
    </ion-segment-button>
	 <ion-segment-button value="hits" (click)="orderBy('hits')">
      热度<ion-icon name="{{hitsicon}}"></ion-icon>
    </ion-segment-button>
  </ion-segment>
  <ion-list>
  
  
    <ion-row *ngFor="let row of grid">
	<ion-col *ngFor="let item of row;" >
	<ion-card class="card-md" *ngIf="item">
		  <img src="{{item.mainImage}}"/>
		  <ion-card-content>
			  {{item.name}}
		  </ion-card-content>
		  <ion-row>
				<ion-col >
				 <ion-note class="text-md-danger">
					¥{{item.startPrice}}
				  </ion-note>
				</ion-col>
				<ion-col  text-right>
				  <ion-note>
					{{item.endtime}}
				  </ion-note>
				</ion-col>
			</ion-row>
		</ion-card>
		</ion-col>
	  </ion-row>

  </ion-list>
    <button ion-button full (click)="getHeroes()" >点击加载更多</button>
</ion-content>
