page-session-detail {

ion-col {
	width:50%;
}
.card-content-ios{
		font-size:1rem;
		padding:2px 5px 2px 5px;
		overflow:hidden; 
		text-overflow:ellipsis;
		white-space:nowrap;
	}
.card-md{
	margin:0px;
	width:100%;
}

}